 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f2f2f2;
 }

 header {
     background-color: #003366;
     color: white;
     padding: 20px;
     text-align: center;
 }

 form {
     background-color: white;
     border-radius: 10px;
     box-shadow: 0px 0px 10px #ccc;
     padding: 20px;
     margin: 20px auto;
     max-width: 500px;
 }

 input[type="number"] {
     padding: 10px;
     border-radius: 5px;
     border: none;
     box-shadow: 0px 0px 5px #ccc;
     width: 100%;
     margin-bottom: 10px;
 }

 button[type="submit"] {
     background-color: #003366;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
     width: 100%;
 }

 .result {
     background-color: white;
     border-radius: 10px;
     box-shadow: 0px 0px 10px #ccc;
     padding: 20px;
     margin: 20px auto;
     max-width: 500px;
     text-align: center;
 }